<!DOCTYPE html>
<html lang="en" xmlns:employee="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Hours employee</title>
</head>
<body>
<div class="container my-2">
    <h1>Employee Hours</h1>
    <a th:href="@{/showNewEmployeeHoursForm}" class="btn btn-primary btn-sm mb-3"> Add Hours</a>
    <a th:href="@{/}" class="btn btn-secondary btn-sm mb-3"> Back to home</a>
    <table border="1" class = "table table-striped table-responsive-md">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Name Of Place</th>
            <th scope="col">Home Office [Y/N]</th>
            <th scope="col">Hours</th>
            <th> Actions </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="hours: ${employee_hours}">
            <td th:text="${hours.nameOfPlace}"></td>
            <td th:text="${hours.isHomeOffice}"></td>
            <td th:text="${hours.hours}"></td>
                <td>
                    <a th:href="@{/showHoursFormForEmployee/{id}(id=${hours.id})}"
                       class="btn btn-primary">Update</a>
                    <a th:href="@{/deleteHours/{id}(id=${hours.id})}"
                       class="btn btn-danger">Delete</a>
                </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>